<div class="comment" id="<%= dom_id(comment)%>">
  <p><%= comment.body %></p>
  <p>
    <%= link_to 'Destroy', [@project, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
</div>
