<tr class="project" id="<%= dom_id(project)%>">
  <td><%= link_to project.name, project %></td>
  <td>(<%= link_to 'Edit', edit_project_path(project) %> |
    <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>)
  </td>
</tr>
