<p id="notice"><%= notice %></p>
<h1>Projects</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="projects">
    <%= turbo_stream_from @project %>
    <%= render @projects.order(created_at: :desc) %>
  </tbody>
</table>
<br>
<div id="add_project">
  <h3>Add project</h3>
  <%= render partial: "projects/form", locals: {project: Project.new} %>
</div>
