// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comment {
  background: #f9f5e6;
  width: 20%;
  padding: 3px;
  margin: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#add_comment {
  border: 1px solid #ccc;
  padding: 5px;
}